@import './index.scss';
@import './Animations.scss';
@import './AppMediaQuery.scss';
@import './Keyframes.scss';
@import './StyleVariables.scss';

.tedious_bg {
  background-color: #6f3f59;
  background-image: url('../images/TediousBgImg.jpg');
  height: 100%;
  width: 0;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-circle {
  border-width: 100%;
  background-color: #c8afb2;
  width: 100% !important;
  height: 100%;
  border-radius: 100%;
  border-width: 92%!important;
  width: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-circle-wrapper {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
  width: 50vw;
  height: 50vw;
  max-width: 615px;
  max-height: 615px;
  min-width: 300px;
  min-height: 300px;
}

.T-Top {
  background-color: white;
  padding: 1.75% 1px;
  width: $T-top-width;
  margin-left: $T-top-margin-left;
  margin-right: -5%;
  align-self: center;
  margin-top: -25%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15%;
}

.T-Side {
  background-color: white;
  padding: 1px 2%;
  height: $T-side-height;
  position: absolute;
  bottom: 0;
  left: 8%;
}

.HorizontalLines {
  padding: 0.6% 1px;
  position: absolute;
}

.HorizontalLines:nth-child(1) {
  margin-left: $hori-line-1-margin-left;
  background-color: white;
  top: 0;
  width: $hori-line-1-width;
  margin-top: 21%;
  left: 0;
}

.HorizontalLines:nth-child(2) {
  background-color: white;
  right: 0;
  top: 0;
  left: 0;
  margin-top: 29%;
  width: $hori-line-2-width;
  margin-left: $hori-line-2-margin-left;
}

.HorizontalLines:nth-child(3) {
  background-color: white;
  width: $hori-line-3-width;
  left: 0;
  margin-top: 13%;
  margin-left: $hori-line-3-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(4) {
  background-color: white;
  width: $hori-line-4-width;
  left: 0;
  margin-top: 21%;
  margin-left: $hori-line-4-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(5) {
  margin-left: 5%;
  background-color: white;
  width: $hori-line-5-width;
  left: 0;
  margin-bottom: 20%;
  margin-top: 29%;
  top: 50%;
}

.LettersStyleWrapper {
  position: absolute;
  margin-top: 40%;
  top: 0;
  display: flex;
  justify-content: flex-start;
}

.LettersStyle {
  color: white;
  font-size: 10vw;
  font-weight: 500;
  letter-spacing: -3px;
  position: relative;
  margin-right: 3%;
  top: 0;
  left: 0;
}

.live_ted_text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  position: absolute;
  letter-spacing: 0.37vw;
  bottom: 0;
  font-size: 2.5vw;
  margin-left: 1%;
  margin-bottom: 8.5%;
}

.out_soon {
  position: absolute;
  bottom: 5%;
  color:white;
  font-size: 2.5vh;
}

.socialMediaIconsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  margin: 7px 9px 0 0;
  top: 0;
}

.loading {
  position: absolute;
  z-index: 0;
  color: white;
}

.socialMediaIconsWrapper .socialMediaIcons:hover {
  transform: scale(1.24);
  transition: transform 1s;
}

.socialMediaIcons {
  font-size: 8vh !important;
  height: 1em;
  width: 0.7em;
  transition: transform 0.3s ease-out !important;
  color: white;
  fill: white;
  padding: 5px;
}

.found_me {
  position: absolute;
  z-index: 0;
  color: white;
  top: 40vh;
}

.ted_bg_image {
  position: absolute;
  background-image: url('../images/original_icon.jpg');
  top: -155px;
  width: 931px;
  z-index: 100;
  opacity: 0.5;
  height: 780px;
  background-size: cover;
}