@import './index.scss';
@import './Animations.scss';
@import './AppMediaQuery.scss';
@import './Keyframes.scss';
@import './StyleVariables.scss';

.tedious_bg {
  background-color: #6f3f59;
  background-image: url('../images/TediousBgImg.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
  width: 50vw;
  height: 50vw;
  max-width: 615px;
  max-height: 615px;
  min-width: 350px;
  min-height: 350px;
  z-index: 1;
}

.background-circle {
  background-color: #c8afb2;
  width: 100% !important;
  height: 100%;
  border-radius: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.T-Top {
  background-color: white;
  padding: 1.75% 1px;
  width: $T-top-width;
  margin-left: $T-top-margin-left;
  margin-right: -5%;
  align-self: center;
  margin-top: -25%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15%;
}

.T-Side {
  background-color: white;
  padding: 1px 2%;
  height: $T-side-height;
  position: absolute;
  bottom: 0;
  left: 8%;
}

.HorizontalLines {
  padding: 0.6% 1px;
  position: absolute;
}

.HorizontalLines:nth-child(1) {
  margin-left: $hori-line-1-margin-left;
  background-color: white;
  top: 0;
  width: $hori-line-1-width;
  margin-top: 21%;
  left: 0;
}

.HorizontalLines:nth-child(2) {
  background-color: white;
  right: 0;
  top: 0;
  left: 0;
  margin-top: 29%;
  width: $hori-line-2-width;
  margin-left: $hori-line-2-margin-left;
}

.HorizontalLines:nth-child(3) {
  background-color: white;
  width: $hori-line-3-width;
  left: 0;
  margin-top: 13%;
  margin-left: $hori-line-3-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(4) {
  background-color: white;
  width: $hori-line-4-width;
  left: 0;
  margin-top: 21%;
  margin-left: $hori-line-4-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(5) {
  margin-left: 5%;
  background-color: white;
  width: $hori-line-5-width;
  left: 0;
  margin-bottom: 20%;
  margin-top: 29%;
  top: 50%;
}

.LettersStyleWrapper {
  position: absolute;
  margin-top: 40%;
  top: 0;
  display: flex;
  justify-content: flex-start;
}

.LettersStyle {
  color: white;
  font-size: 10vw;
  font-weight: 500;
  letter-spacing: -3px;
  position: relative;
  margin-right: 3%;
  top: 0;
  left: 0;
}

.live_ted_text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  position: absolute;
  letter-spacing: 0.37vw;
  bottom: 0;
  font-size: 2.5vw;
  margin-left: 1%;
  margin-bottom: 8.5%;
}

.out_soon {
  position: absolute;
  bottom: 5%;
  color:white;
  font-size: 2.5vh;
  z-index: 0;
}

.socialMediaIconsWrapper {
  right: 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  margin: 7px 9px 0 0;
  top: 0;
}

.buttonsIconsWrapper {
  display: flex;
  position: absolute;
  left: 0;
  z-index: 0;
  margin: 15px 0px 0px 5px;
  top: 0;
}

.buttons {
  // min-width: 120px;
  width: 20%;
  color: white;
  margin-left: 5px;
  display: flex;
  border-color: transparent;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50vw;
  padding: 0 5px 0 0;
  // transition: background-color 0.2s ease-in, margin-right 0.2s ease-in;
  transition: background-color 0.2s ease-in, width 0.2s ease-in;
  // margin-right: -17%;
}

.buttons:hover {
  background-color: white;
  cursor: pointer;
  margin-right: 0;
  transition: background-color 0.2s ease-in, width 0.2s ease-in;
  position: relative;
  // width: 37%;
  width: fit-content;
}
// .bio {
//   margin-right: -25%;
// }

// .listen {
//   margin-right: -25%;
// }

// .contact {
//   margin-right: -25%;
// }

.buttons span {
  opacity: 0;
}

.buttons:hover span {
  color: #e5b2aa;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}


.buttons::before {
  font-family: "Material Icons";
  font-size: 4vh;
  color: #e5b2aa;
  display: flex;
  padding: 1vh;
  background-color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.bio::before {
  content: 'info';
}

.listen::before {
  content: 'headphones';
}

.contact::before {
  content: 'alternate_email';
}

// .buttonWrapper {
//   background-color: white;
//   padding: 1.75% 1px;
// }

// $color: #111;
// $primary: #FFAB9D;

// .buttons {
//   position: relative;
//   margin: auto;
//   padding: 19px 22px;
//   transition: all .2s ease;
//   &:before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     border-radius: 28px;
//     background: rgba($primary,.5);
//     width: 56px;
//     height: 56px;
//     transition: all .3s ease;
//   }
//   span {
//     position: relative;
//     font-size: 16px;
//     line-height: 18px;
//     font-weight: 900;
//     letter-spacing: .25em;
//     text-transform: uppercase;
//     vertical-align: middle;
//   }
//   button {
//     position: relative;
//     top: 0;
//     margin-left: 10px;
//     fill: none;
//     stroke-linecap: round;
//     stroke-linejoin: round;
//     stroke: $color;
//     stroke-width: 2;
//     transform: translateX(-5px);
//     transition: all .3s ease;
//   }
//   &:hover {
//     &:before {
//       width: 100%;
//       background: rgba($primary,1);
//     }
//       svg {
//       transform: translateX(0);
//       }
//       &:active {
//     transform: scale(.96);
//       }
//   }
// }

.loading {
  position: absolute;
  z-index: 0;
  color: white;
}

.socialMediaIconsWrapper .socialMediaIcons:hover {
  transform: scale(1.24);
  transition: transform 1s;
}

.socialMediaIcons {
  font-size: 8vh !important;
  height: 1em;
  width: 0.7em;
  transition: transform 0.3s ease-out !important;
  color: white;
  fill: white;
  padding: 5px;
}

.found_me {
  position: absolute;
  z-index: 0;
  color: white;
  top: 40vh;
}

// .react-responsive-modal-modal {
//   background: #c8afb2 !important;
//   color: white;
// }

// .react-responsive-modal-modal .modalText {
//   max-width: 90%;
//   // font-size: 90%;
// }

// .buttons span {
//   font-size: 1vw;
// }

.react-responsive-modal-modal .modalText {
  max-width: 85%;
  font-size: 1.5em;
}

// .modalTitle {
//   font-size: 100%;
// }

// .react-responsive-modal-modal .modalText div {
//   font-size: 90%;
// }

.react-responsive-modal-modal {
  background: #c8afb2 !important;
  color: white;
  width: 50vw;
  border-radius: 50%;
  // margin-top: -1vw !important;
  height: 50vw;
  max-width: 615px !important;
  max-height: 615px !important;
  /* padding: 3% !important; */
  min-width: 300px;
  min-height: 300px;
  text-align: center !important;
  display: flex !important;
  align-items: center;
  flex-direction: column;
  // flex-wrap: wrap;
  justify-content: space-around;
}

.react-responsive-modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-responsive-modal-overlay {
  backdrop-filter: blur(6px);
  // backdrop-filter: saturate(0.5);
  // backdrop-filter: brightness(0.5);
}

// .react-responsive-modal-closeButton {
//   position: static !important;
// }

.react-responsive-modal-closeButton {
  /* left: 50%; */
  /* right: 50% !important; */
  /* top: 10px !important; */
  /* bottom: 10px; */
  display: flex;
  position: static !important;
  width: 100%;
  // height: 88%;
  align-items: flex-end;
  justify-content: center;
  align-content: center;
  right: 0 !important;
}

.react-responsive-modal-closeButton svg {
  fill: white;
}

// .play_btn_wrapper {
//   height: 100%;
//   width: 100%;
//   background-color: red;
// }

// .playBtn {
//   border-color: #c8afb2;
//   width: 0;
//   background: #c8afb2;
//   border-right: 0;
//   height: 0;
//   border-top: 45px solid #c8afb2;
//   border-bottom: 45px solid #c8afb2;
//   border-left: 60px solid white;
// }

// .stopBtn {
//   border-color: #c8afb2;
//   width: 0;
//   background: #c8afb2;
//   border-right: 0;
//   height: 0;
//   border-top: 45px solid #c8afb2;
//   border-bottom: 45px solid #c8afb2;
//   border-left: 60px solid white;
// }

.musicButtons {
  background: unset;
  border: unset;
}

.musicButtons .MuiSvgIcon-root {
  width: 100px;
  height: 100px;
  color: white;
}

.contact {
  z-index: 2;
}

.listen {
  z-index: 1;
}


// NEW:

.buttonsIconsWrapper {
  display: flex;
  position: relative;
  /* left: unset; */
  z-index: 0;
  margin: unset;
  /* width: unset; */
  top: 0;
}

.socialMediaIconsWrapper {
  /* right: 0; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  margin-left: -20%;
  margin: unset;
  top: 0;
}

// .buttons {
//   width: fit-content;
//   color: white;
//   /* position: absolute; */
//   margin-left: 5px;
//   display: flex;
//   border-color: transparent;
//   background-color: transparent;
//   font-family: "Montserrat", sans-serif;
//   align-items: center;
//   justify-content: flex-start;
//   border-radius: 50vw;
//   padding: 0 5px 0 0;
//   transition: background-color 0.2s ease-in, width 0.2s ease-in;
// }

.buttons {
  width: 60px;
  position: relative;
  color: white;
  /* position: absolute; */
  margin-left: 5px;
  display: flex;
  border-color: transparent;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50vw;
  padding: 0 5px 0 0;
  transition: all 0.2s ease-in;
}

.buttons:hover {
  background-color: white;
  cursor: pointer;
  /* margin-right: 0; */
  transition: all 0.2s ease-in;
  position: relative;
  width: -moz-fit-content;
  width: 150px;
}

.buttons span {
  opacity: 0;
  position: absolute;
  font-size: 1.5em;
  user-select: none;
}

.header {
  display: flex;
  position: absolute;
  top: 0;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.buttons:hover span {
  color: #e5b2aa;
  opacity: 1;
  position: relative;
  transition: opacity 0.2s ease-in;
}