// Extra Small screens
@media screen and (max-width: 660px) {
  .LettersStyle {
    font-size: 4em !important;
}
  .live_ted_text {
    font-size: 1em !important;
  }
  .buttons {
    transition: unset !important;
     width: 100% !important;
  }
  .buttons:hover {
    width: unset !important;
    background-color: unset !important;
    position: unset !important;
    margin-right: unset !important;
    transition: unset !important;
}
  .buttons:hover span {
    opacity: 0 !important;
  }
  .modalTitle {
    font-size: 1.75em;
  }
  .modalText {
    font-size: 3vw !important;
  }
  .musicButtons .MuiSvgIcon-root {
    width: 75px !important;
    height: 75px !important;
  }
  .react-responsive-modal-modal {
    min-width: 85vw !important;
    min-height: 85vw !important;
  }
  .buttons:hover span {
    position: absolute !important;
  }
}

// Large screens
@media screen and (min-width: 1200px) {
  .LettersStyle {
    font-size: 7em !important;
  }
  .live_ted_text {
    font-size: 1.2em !important;
  }
  .react-responsive-modal-modal .modalText {
    font-size: 25px !important;
  }
}