@import './styleVariables.scss';
@import './AppMediaQuery.scss';
@import './index.scss';


@font-face {
  font-family: 'Agrandir';
  src: url('./fonts/Agrandir-Regular.otf')
  format('opentype');
}

body {
  font-family: "Agrandir", sans-serif, "Montserrat", sans-serif;
  overflow: hidden;
}

@keyframes bg-enter {
  from {
    width: 0px;
  }
  to {
    width: 100vw;
  }
}

@keyframes background-circle-enter {
  from {
    margin-bottom: -200vh;
  }
  to {
    margin-bottom: 0px;
  }
  0% {
    background-color: #d6683f;
  }
  50% {
    background-color: #d6683f;
  }
  100% {
    background-color: #c8afb2;
  }
}

@keyframes T-top-enter {
  from {
    width: 0px;
    left: -100vh;
    // margin-left: -100%;
  }
  to {
    width: $T-top-width;
    left: 0;
    // margin-left: $T-top-margin-left;
  }
}
@keyframes horizontal-line-enter {
  from {
    width: 0px;
    left: -100vh;
    // margin-left: -100%;
  }
  to {
    width: $T-top-width;
    left: 0;
    // margin-left: $T-top-margin-left;
  }
}

@keyframes Horizontal-line-enter-1 {
  from {
    // margin-left: -100%;
    left: 100vw;
    width: 0;
  }
  to {
    // margin-left: $hori-line-1-margin-left;
    left: 0;
    width: $hori-line-1-width;
  }
}

@keyframes Horizontal-line-enter-2 {
  from {
    // margin-left: -100%;
    left: 100vw;
    width: 0;
  }
  to {
    // margin-left: $hori-line-2-margin-left;
    left: 0;
    width: $hori-line-2-width;
  }
}

@keyframes Horizontal-line-enter-3 {
  from {
    // margin-left: 100vh;
    left: 100vw;
    width: 0;
  }
  to {
    // margin-left: $hori-line-3-margin-left;
    left: 0;
    width: $hori-line-3-width;
  }
}

@keyframes Horizontal-line-enter-4 {
  from {
    // margin-left: 100vh;
    left: 100vw;
    width: 0;
  }
  to {
    // margin-left: $hori-line-4-margin-left;
    left: 0;
    width: $hori-line-4-width;
  }
}

@keyframes Horizontal-line-enter-5 {
  from {
    // margin-left: 100vh;
    left: 100vw;
    width: 0;
  }
  to {
    // margin-left: $hori-line-5-margin-left;
    left: 0;
    width: $hori-line-5-width;
  }
}

@keyframes T-side-enter {
  from {
    height: 0;
    // margin-top: -100%;
    // margin-top: -100vh;
    // position: absolute;
    // top: -100vh;
    bottom: 100vh;
    // align-self: unset;
    // bottom: initial;
  }
  to {
    // position: static;
    // top: unset;
    // ztop: $T-side-top;
    height: $T-side-height;
    // align-self: end;
    // margin-top: $T-side-margin-top;
    // margin-top: 0;
    bottom: 0;
  }
}

@keyframes letters-enter {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

@keyframes live-ted-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes live-music-soundcloud-enter {
  from {
    // opacity: 0;
    margin-bottom: -100vh;
  }
  to {
    // opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes social-media-enter {
  from {
    margin-right: -100vh;
  }
  to {
    margin-right: 0;
  }
}

@keyframes loading-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes found-me-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// .tedious_bg {
//   background-color: #6f3f59;
//   background-image: url('./TediousBgImg.jpg');
//   height: 100%;
//   width: 0;
//   width: 100%;
//   background-size: cover;
// }

.tedious_bg {
  background-color: #6f3f59;
  background-image: url('./TediousBgImg.jpg');
  height: 100%;
  width: 0;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// .background-circle {
//   border-width: 0;
//   border-color: #c8afb2;
//   border-style: solid;
//   border-radius: 50%;
//   border-width: 34vh;
//   width: 0;
//   z-index: 1;
//   display: flex;
//   justify-content: center;
//   /* position: relative; */
// }

.background-circle {
  border-width: 100%;
  background-color: #c8afb2;
  /* border-style: solid; */
  width: 100% !important;
  height: 100%;
  border-radius: 100%;
  border-width: 92%!important;
  width: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

// .background-circle-wrapper {
//   position: absolute;
//   height: inherit;
//   width: inherit;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-top: -5vh;
//   }

.background-circle-wrapper {
  /* position: absolute; */
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6%;
  width: 50vw;
  height: 50vw;
  max-width: 615px;
  max-height: 615px;
  min-width: 300px;
  min-height: 300px;
}

// .T-Top {
//   // display: flex;
//   border-bottom: 2.6vh solid white;
//   position: absolute;
//   /* top: -87px;
//   left: -327px; */
//   margin-left: $T-top-margin-left;
//   margin-top: -12vh;
//   width: $T-top-width;
//     // width: 69vh;
//     // margin-left: -35vh;
//     // margin-top: -12vh;
// }

.T-Top {
  background-color: white;
  padding: 1.75% 1px;
  /* position: absolute; */
  /* margin-left: -36vh; */
  /* margin-top: -12vh; */
  width: $T-top-width;
  margin-left: $T-top-margin-left;
  margin-right: -5%;
  align-self: center;
  margin-top: -25%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15%;
}

.T-Side {
  background-color: white;
  padding: 1px 2%;
  /* position: absolute; */
  /* align-items: normal; */
  /* margin-left: -36vh; */
  /* margin-top: -12vh; */
  height: $T-side-height;
  /* margin-left: -7%; */
  /* margin-right: -7%; */
  // align-self: end;
  position: absolute;
  bottom: 0;
  left: 8%;
  /* margin-top: -25%; */
}


// .T-Side {
//   border-left: 3vh solid white;
//   height: $T-side-height;
//   position: absolute;
//   top: $T-side-top;
//   margin-left: -28vh;
// }

.HorizontalLines {
  padding: 0.6% 1px;
  position: absolute;
}

.HorizontalLines:nth-child(1) {
  margin-left: $hori-line-1-margin-left;
  /* margin-top: -22vh; */
  /* width: 53vh; */
  background-color: white;
  /* margin-left: -20vh; */
  top: 0;
  width: $hori-line-1-width;
  margin-top: 21%;
  left: 0;
}

.HorizontalLines:nth-child(2) {
  /* margin-top: -17vh; */
  /* width: 43vh; */
  background-color: white;
  /* margin-left: -15vh; */
  right: 0;
  top: 0;
  left: 0;
  margin-top: 29%;
  width: $hori-line-2-width;
  margin-left: $hori-line-2-margin-left;
}

.HorizontalLines:nth-child(3) {
  /* margin-top: 6vh; */
  /* width: 73vh; */
  background-color: white;
  /* margin-left: -36vh; */
  width: $hori-line-3-width;
  left: 0;
  margin-top: 13%;
  margin-left: $hori-line-3-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(4) {
  /* margin-top: 11vh; */
  /* width: 58vh; */
  background-color: white;
  /* margin-left: -35vh; */
  width: $hori-line-4-width;
  left: 0;
  margin-top: 21%;
  margin-left: $hori-line-4-margin-left;
  top: 50%;
}

.HorizontalLines:nth-child(5) {
  margin-left: 5%;
  /* margin-top: 16vh; */
  /* width: 48vh; */
  background-color: white;
  /* margin-left: -33vh; */
  width: $hori-line-5-width;
  left: 0;
  /* bottom: 0; */
  margin-bottom: 20%;
  margin-top: 29%;
  top: 50%;
}

// .LettersStyleWrapper {
//   position: absolute;
//   display: flex;
//   margin-left: -23vh;
// }

.LettersStyleWrapper {
  position: absolute;
  /* display: flex; */
  margin-left: 12%;
  /* margin-left: -23vh; */
  // margin-top: 5%;
  margin-top: 40%;
  top: 0;
}

// .LettersStyle {
//   // font-family: "Montserrat", sans-serif;
//   color: white;
//   font-size: 12vh;
//   margin-top: -9vh;
//   font-weight: 500;
//   letter-spacing: 20px;
// }

.LettersStyle {
  color: white;
  font-size: 10vw;
  /* margin-top: -9vh; */
  font-weight: 500;
  letter-spacing: 0.8vw;
  position: relative;
  top: 0;
}

.live_ted_text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  position: absolute;
  /* margin-top: 23vh; */
  /* font-size: 3.5vh; */
  letter-spacing: 0.37vw;
  bottom: 0;
  font-size: 2.5vw;
  margin-left: 1%;
  margin-bottom: 8.5%;
}

.out_soon {
  position: absolute;
  bottom: 5%;
  color:white;
  font-size: 2.5vh;
  // height: 16vh;
  // height: fit-content;
}

// .social_media_icons {
//   font-family: 'Material Icons';
// }

// .social_media_icons.facebook {
//   content: 'facebook';
// }


.socialMediaIconsWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 1;
  margin: 7px 9px 0 0;
  top: 0;
}

.loading {
  position: absolute;
  z-index: 0;
  color: white;
}


// .socialMediaIconsWrapper .socialMediaIcons:hover {
//   color:#d6683f;
// }

.socialMediaIconsWrapper .socialMediaIcons:hover {
  // color: #ffffff;
  /* transition: auto; */
  /* font-size: 3.5em !important; */
  transform: scale(1.24);
  transition: transform 1s;
  /* font-size: 2.5em !important; */
}

.socialMediaIcons {
  font-size: 8vh !important;
  height: 1em;
  width: 0.7em;
  transition: transform 0.3s ease-out !important;
  color: white;
  fill: white;
  padding: 5px;
}


.found_me {
  position: absolute;
  z-index: 0;
  color: white;
  top: 40vh;
}

// .socialMediaIconsWrapper:hover {
//   opacity: 0.5;
// }

// .facebookIcon:hover ~ svg {
//     background-color: white;
//   border-radius: 100%;
//   fill: white;
//   stroke: black;
// }

// a.fb-anchor:hover {
//   opacity: 0;
// }

// .socialMediaIcons.facebookIcon:hover,
// .socialMediaIcons.instagramIcon:hover {
//   opacity: 0;
// }


// .T-Top, .T-Side, .HorizontalLines, .LettersStyle {
//   box-shadow: 6px 2px 7px 0px green;
// }

@media (prefers-reduced-motion: no-preference) {
  .background-circle {
    animation: background-circle-enter 7s ease-in-out;
    animation-fill-mode: backwards;
  }
  .T-Top {
    animation: T-top-enter 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(1) {
    animation: Horizontal-line-enter-1 6s ease-out 1s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(2) {
    animation: Horizontal-line-enter-2 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(3) {
    animation: Horizontal-line-enter-3 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(4) {
    animation: Horizontal-line-enter-4 5s ease-out 3s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(5) {
    animation: Horizontal-line-enter-5 4s ease-out 4s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines {
    animation: horizontal-line-enter 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .T-Side {
    animation: T-side-enter 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .live_ted_text {
    animation: live-ted-enter 2s ease-out 8.5s;
    animation-fill-mode: backwards;
  }
  .out_soon {
    animation: live-music-soundcloud-enter 5s ease-in-out 7.5s;
    animation-fill-mode: backwards;
  }
  .socialMediaIcons {
    animation: social-media-enter 7s ease-out 4.5s;
    animation-fill-mode: backwards;
  }
  // .socialMediaIcons.instagramIcon {
  //   animation-delay: 2s;
  // }
  // .socialMediaIcons.facebookIcon {
  //   animation-delay: 3s;
  // }

  .LettersStyle {
    animation: letters-enter 4s ease-out;
    animation-fill-mode: backwards;
  }
  .LettersStyle.E {
    animation-delay: 2s;
  }
  .LettersStyle.D {
    animation-delay: 2.5s;
  }
  .LettersStyle.I {
    animation-delay: 3s;
  }
  .LettersStyle.O {
    animation-delay: 3.5s;
  }
  .LettersStyle.U {
    animation-delay: 4s;
    // animation-duration: 3.5s;
  }
  .LettersStyle.S {
    animation-delay: 4.75s;
    animation-duration: 3.5s;
  }
  .loading {
    animation: loading-fadeout 3s ease-out;
    animation-fill-mode: forwards;
  }
  .found_me {
    animation: found-me-fadein 0s ease-out 8s;
    animation-fill-mode: backwards;
  }
}

.ted_bg_image {
  position: absolute;
  // background-image: url(http://localhost:3000/static/media/IMG_6017.598977160124a275ca12.jpg);
  background-image: url('./IMG_6017.jpg');
  top: -155px;
  width: 931px;
  z-index: 100;
  opacity: 0.5;
  height: 780px;
  background-size: cover;
}