@import './styleVariables.scss';

body {
  overflow: hidden;
}

@keyframes bg-enter {
  from {
    width: 0px;
  }
  to {
    width: 100vw;
  }
}

@keyframes background-circle-enter {
  from {
    margin-bottom: -200vh;
  }
  to {
    margin-bottom: 0px;
  }
  0% {
    border-color: #d6683f;
  }
  50% {
    border-color: #d6683f;
  }
  100% {
    border-color: #c8afb2;
  }
}

@keyframes T-top-enter {
  from {
    width: 0px;
    margin-left: -100%;
  }
  to {
    width: $T-top-width;
    margin-left: $T-top-margin-left;
  }
}

@keyframes Horizontal-line-enter-1 {
  from {
    margin-left: -100%;
    width: 0;
  }
  to {
    margin-left: $hori-line-1-margin-left;
    width: $hori-line-1-width;
  }
}

@keyframes Horizontal-line-enter-2 {
  from {
    margin-left: -100%;
    width: 0;
  }
  to {
    margin-left: $hori-line-2-margin-left;
    width: $hori-line-2-width;
  }
}

@keyframes Horizontal-line-enter-3 {
  from {
    margin-left: 100vh;
    width: 0;
  }
  to {
    margin-left: $hori-line-3-margin-left;
    width: $hori-line-3-width;
  }
}

@keyframes Horizontal-line-enter-4 {
  from {
    margin-left: 100vh;
    width: 0;
  }
  to {
    margin-left: $hori-line-4-margin-left;
    width: $hori-line-4-width;
  }
}

@keyframes Horizontal-line-enter-5 {
  from {
    margin-left: 100vh;
    width: 0;
  }
  to {
    margin-left: $hori-line-5-margin-left;
    width: $hori-line-5-width;
  }
}

@keyframes T-side-enter {
  from {
    height: 0;
    // margin-top: -100%;
    top: -100vh;
  }
  to {
    top: $T-side-top;
    height: $T-side-height;
    // margin-top: $T-side-margin-top;
    // margin-top: 0;
  }
}

@keyframes letters-enter {
  from {
    margin-left: 100vw;
  }
  to {
    margin-left: 0;
  }
}

@keyframes live-ted-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes live-music-soundcloud-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tedious_bg {
  background-color: #6f3f59;
  background-image: url('./TediousBgImg.jpg');
  height: 100%;
  width: 0;
  width: 100%;
  background-size: cover;
}

.divWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-circle {
  border-width: 0;
  border-color: #c8afb2;
  border-style: solid;
  border-radius: 50%;
  border-width: 34vh;
  width: 0;
  /* position: relative; */
}

.background-circle-wrapper {
  position: absolute;
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
  }

.T-Top {
  // display: flex;
  border-bottom: 2.6vh solid white;
  position: absolute;
  /* top: -87px;
  left: -327px; */
  margin-left: $T-top-margin-left;
  margin-top: -12vh;
  width: $T-top-width;
    // width: 69vh;
    // margin-left: -35vh;
    // margin-top: -12vh;
}

.HorizontalLines:nth-child(1) {
  margin-top: -17vh;
  width: $hori-line-1-width;
  border-width: 1vh;
  margin-left: $hori-line-1-margin-left;
}

.HorizontalLines:nth-child(2) {
  margin-top: -22vh;
  width: $hori-line-2-width;
  border-width: 1vh;
  margin-left: $hori-line-2-margin-left;
}

.HorizontalLines:nth-child(3) {
  margin-top: 6vh;
  width: $hori-line-3-width;
  border-width: 1vh;
  margin-left: $hori-line-3-margin-left;
}

.HorizontalLines:nth-child(4) {
  margin-top: 11vh;
  width: $hori-line-4-width;
  border-width: 1vh;
  margin-left: $hori-line-4-margin-left;
}

.HorizontalLines:nth-child(5) {
  margin-top: 16vh;
  width: $hori-line-5-width;
  border-width: 1vh;
  margin-left: $hori-line-5-margin-left;
}

.T-Side {
  border-left: 3vh solid white;
  height: $T-side-height;
  position: absolute;
  top: $T-side-top;
  margin-left: -28vh;
}

.LettersStyleWrapper {
  position: absolute;
  display: flex;
  margin-left: -23vh;
}

.LettersStyle {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 6.2em;
  margin-top: -10vh;
  font-weight: 500;
  letter-spacing: 5px;
}

.live_ted_text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 500;
  position: absolute;
  margin-top: 23vh;
  font-size: 1.5em;
  letter-spacing: 5px;
  margin-left: -12vh;
}

.live_music_soundcloud {
  position: absolute;
  bottom: 0;
  height: 11vh;
}

// .T-Top, .T-Side, .HorizontalLines, .LettersStyle {
//   box-shadow: 6px 2px 7px 0px green;
// }

@media (prefers-reduced-motion: no-preference) {
  .background-circle {
    animation: background-circle-enter 7s ease-in-out;
    animation-fill-mode: backwards;
  }
  .T-Top {
    animation: T-top-enter 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(1) {
    animation: Horizontal-line-enter-1 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(2) {
    animation: Horizontal-line-enter-2 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(3) {
    animation: Horizontal-line-enter-3 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(4) {
    animation: Horizontal-line-enter-4 5s ease-out 3s;
    animation-fill-mode: backwards;
  }
  .HorizontalLines:nth-child(5) {
    animation: Horizontal-line-enter-5 4s ease-out 4s;
    animation-fill-mode: backwards;
  }
  .T-Side {
    animation: T-side-enter 6s ease-out 2s;
    animation-fill-mode: backwards;
  }
  .LettersStyle {
    animation: letters-enter 5s ease-out;
    animation-fill-mode: backwards;
  }
  .live_ted_text {
    animation: live-ted-enter 2s ease-out 8s;
    animation-fill-mode: backwards;
  }
  .live_music_soundcloud {
    animation: live-music-soundcloud-enter 2s ease-out 9s;
    animation-fill-mode: backwards;
  }
  .LettersStyle.E {
    animation-delay: 1s;
  }
  .LettersStyle.D {
    animation-delay: 2s;
  }
  .LettersStyle.I {
    animation-delay: 3s;
  }
  .LettersStyle.O {
    animation-delay: 3s;
  }
  .LettersStyle.U {
    animation-delay: 3s;
  }
  .LettersStyle.S {
    animation-delay: 3s;
  }

}
