// @use 'src/header';
// @import 'reset';
// @import 'variables';
// @import './src/header';
// @import './src/front-page';
// @import './src/category';
// @import './src/blog';
// @import './src/blog-posts';
// @import './src/404';
// @import './src/footer';
// @import './media-queries/large';
// @import './media-queries/medium';
// @import './media-queries/small';

$T-side-margin-top: -49px;
$T-side-height: 389px;
$T-top-margin-left: -330px;
$T-top-width: 650px;