// @use 'src/header';
// @import 'reset';
// @import 'variables';
// @import './src/header';
// @import './src/front-page';
// @import './src/category';
// @import './src/blog';
// @import './src/blog-posts';
// @import './src/404';
// @import './src/footer';
// @import './media-queries/large';
// @import './media-queries/medium';
// @import './media-queries/small';

// $T-side-margin-top: -10vh;
// $T-side-margin-top: -10vh;
$T-side-top: 39vh;
$T-side-height: 46vh;
// height: 41%;
// margin-left: -23vh;
// position: absolute;
// margin-top: -10vh;
// $T-top-margin-left: -330px;
// $T-top-width: 650px;
$T-top-margin-left: -36vh;
$T-top-width: 72vh;
// $horizontal-line-1: -15vh;
$hori-line-1-margin-left: -20vh;
$hori-line-2-margin-left: -15vh;
